.fkcarrier_calculo_cep
{
}
.fkcarrier_calculo_cep .order_carrier_content
{
	margin-top: 15px;
}
.fkcarrier_calculo_cep INPUT[type="text"]
{
	height: 20px;
	border: 1px solid #CCCCCC;
	margin-right: 10px;
}
.fkcarrier_calculo_cep TABLE
{
	width: 100%;
	background-color: #FFFFFF;
}
.fkcarrier_calculo_cep TR
{
	border-bottom: 1px solid #CCCCCC;
	height: 60px;
}
#fkcarrier_cep_form
{
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
}
#fkcarrier_cep_msg
{
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	padding: 5px 10px;
	font-weight: bold;
	float: right;
	margin: -26px 96px 0 0;
	background-color: #FFFFFF;
}
#fkcarrier_cep_img
{
	text-align: center;
}
#fkcarrier_cep_nome
{
	width: 50%;
}
#fkcarrier_cep_valor
{
	text-align: right;
	padding-right: 10px;
}
