.fkpagseguro_opcoes
{
    width: 220px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    float: left;
    background: #FFFFFF;
}
.fkpagseguro_opcoes INPUT[type="button"], .fkpagseguro_opcoes INPUT[type="submit"]
{
    border: 1px solid #999999;
    width: 32px;
    height: 32px;
    padding: 18px;
    border-radius: 3px;
}
.fkpagseguro_opcoes INPUT[type="button"]:Hover, .fkpagseguro_opcoes INPUT[type="submit"]:Hover
{
    cursor: pointer;
}
.fkpagseguro_opcoes P
{
    font-weight: bold;
}
.fkpagseguro_margin_form
{
    margin: 3px 0 0 260px;
}
.fkpagseguro_margin_form INPUT[type="submit"], .fkpagseguro_margin_form INPUT[type="button"]
{
    padding: 3px 10px;
}
.fkpagseguro_margin_form INPUT[type="text"], .fkpagseguro_margin_form INPUT[type="password"]
{
    height: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: none;
}
.fkpagseguro_margin_form INPUT[type="text"]:disabled
{
    height: 20px;
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: none;
}
.fkpagseguro_margin_form INPUT[type="number"]
{
    height: 25px;
    width: 45px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}
.fkpagseguro_margin_form TEXTAREA
{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: none;
    width: 450px;
}
.fkpagseguro_margin_form LABEL
{
    display: inline-block;
    float: left;
    width: 170px;
    font-weight: normal;
    text-align: left;
    text-shadow: none;
    margin-left: 15px;
}
.fkpagseguro_margin_form SELECT
{
    height: 25px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: none;
}
.fkpagseguro_margin_form SPAN
{
    font-size: 7pt;
}
.fkpagseguro_form_group
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.fkpagseguro_button
{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #7DA0EC;
    border: 1px solid #666;
    border-radius: 3px;
}
.fkpagseguro_button_warning
{
    color: #F21D1D;
    font-weight: bold;
    padding: 3px 10px;
    background-color: #FFF;
    border: 1px solid #F21D1D;
    border-radius: 3px;
}
.fkpagseguro_button:hover, .fkpagseguro_button_warning:hover
{
    color: #999999;
    background-color: #FFFFFF;
    cursor: pointer;
}

.fkpagseguro_corpo_titulo, .fkpagseguro_corpo_titulo_toggle
{
	background-color: #7DA0EC;
	height: 35px;
	margin-bottom: 10px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
}
.fkpagseguro_corpo_titulo_toggle:HOVER
{
    color: #000000;
    cursor: pointer;
}
.fkpagseguro_sep
{
	border-bottom: 1px solid #7DA0EC;
	margin: 10px;
}
.fkpagseguro_sep_titulo_toggle
{
    background-color: #E6EDFE;
    height: 25px;
    width: 40%;
    padding-left: 5px;
    border-left: 1px solid #7DA0EC;
    border-top: 1px solid #7DA0EC;
    border-right: 1px solid #7DA0EC;
    border-bottom: 0;
    border-top-right-radius: 3px;
    line-height: 25px;
    text-align: left;
    color: #666666;
    font-weight: bold;
}
.fkpagseguro_sep_titulo_toggle:HOVER
{
    color: #000000;
    cursor: pointer;
}
.fkpagseguro_div_button
{
	border-top: 6px double #7DA0EC;
	margin: 15px 0 0;
	padding: 10px 10px 7px;
	background-color: #FFFFFF;
}
.fkpagseguro_div_button DIV
{
	float: right;
}
#fkpagseguro_buttonAjuda
{
	background: #FFFFFF url(../img/button_ajuda.png) no-repeat center / 32px;
}
#fkpagseguro_registro_1
{
	border: 4px double #BDD1FC;
	border-radius: 5px;
	background-color: #FFFFFF;
	width: 500px;
}
#fkpagseguro_registro_2
{
	border: 4px double #BDD1FC;
	border-radius: 5px;
	background-color: #FFFFFF;
	width: 350px;
}
#fkpagseguro_corpo_geral
{
    background-color: #FFFFFF;
    width: 720px;
}
#fkpagseguro_msg textarea
{
    margin-left: 15px;
}
